<launch>
  <arg name="namespace" default="ben"/>
  <arg name="default_nav_stack" default="true"/>
  <arg name="enableBridge" default="true"/>
  <arg name="use_ccom_planner" default="false"/>

  <include file="$(find ben_description)/launch/load.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <include file="$(find ben_description)/launch/publish_state.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <remap from="local_costmap" to="sensors/lidar/lidar_costmap/costmap/costmap"/>  
  <include file="$(find project11)/launch/robot_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="default_nav_stack" value="$(arg default_nav_stack)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>


  <include file="$(find project11)/launch/platform.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_package" value="ben_project11"/>
  </include>


  <group ns="$(arg namespace)">
    <node pkg="s57_grids" type="s57_grids" name="s57_grids"/>

    <rosparam command="load" file="$(find ben_project11)/config/ben.yaml"/>

    <rosparam if="$(arg default_nav_stack)" file="$(find ben_project11)/config/navigator.yaml" command="load" ns="navigator"/>

    <rosparam if="$(arg use_ccom_planner)" file="$(find ben_project11)/config/navigator_ccom_planner.yaml" command="load" ns="navigator"/>
  </group>



</launch>
