<launch>
  <arg name="namespace" default="ben"/>

  <rosparam file="$(find ben_project11)/config/costmap_radar.yaml" command="load" ns="$(arg namespace)/sensors/radar/HaloA/costmap/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap" ns="$(arg namespace)/sensors/radar/HaloA">
    <remap from="costmap/costmap/radar/radar" to="data"/>
  </node>

  <rosparam file="$(find ben_project11)/config/costmap_radar.yaml" command="load" ns="$(arg namespace)/sensors/radar/HaloB/costmap/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap" ns="$(arg namespace)/sensors/radar/HaloB">
    <remap from="costmap/costmap/radar/radar" to="data"/>
    <param name="costmap/resolution" value="5.0"/>
    <param name="costmap/width" value="5000"/>
    <param name="costmap/height" value="5000"/>
  </node>

</launch>
