<launch>
  <arg name="namespace" default="ben"/>

  <rosparam file="$(find ben_project11)/config/costmap_common.yaml" command="load" ns="$(arg namespace)/costmap_chart/costmap" />
  <rosparam file="$(find ben_project11)/config/costmap_chart.yaml" command="load" ns="$(arg namespace)/costmap_chart/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_chart" ns="$(arg namespace)">
  </node>

  <!-- <rosparam file="$(find ben_project11)/config/costmap_common.yaml" command="load" ns="$(arg namespace)/costmap_chart_voyage/costmap" />
  <rosparam file="$(find ben_project11)/config/costmap_chart_voyage.yaml" command="load" ns="$(arg namespace)/costmap_chart_voyage/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_chart_voyage" ns="$(arg namespace)">
  </node> -->


</launch>
