<launch>
  <arg name="robotNamespace" default="ben"/>
  <arg name="remote" default="operator"/>
  <arg name="namespace" default="remote"/>

  <node pkg="rosservice" type="rosservice" name="get_haloA_data" args="call /$(arg namespace)/udp_bridge/remote_subscribe $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloA/data /$(arg robotNamespace)/sensors/radar/HaloA/data 1 0"/>
  <node pkg="rosservice" type="rosservice" name="get_haloA_state" args="call /$(arg namespace)/udp_bridge/remote_subscribe $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloA/state /$(arg robotNamespace)/sensors/radar/HaloA/state 1 0"/>
  <node pkg="rosservice" type="rosservice" name="send_haloA_change_state" args="call /$(arg namespace)/udp_bridge/remote_advertise $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloA/change_state /$(arg robotNamespace)/sensors/radar/HaloA/change_state 1 0"/>

  <node pkg="rosservice" type="rosservice" name="get_haloB_data" args="call /$(arg namespace)/udp_bridge/remote_subscribe $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloB/data /$(arg robotNamespace)/sensors/radar/HaloB/data 1 0"/>
  <node pkg="rosservice" type="rosservice" name="get_haloB_state" args="call /$(arg namespace)/udp_bridge/remote_subscribe $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloB/state /$(arg robotNamespace)/sensors/radar/HaloB/state 1 0"/>
  <node pkg="rosservice" type="rosservice" name="send_haloB_change_state" args="call /$(arg namespace)/udp_bridge/remote_advertise $(arg remote) /$(arg robotNamespace)/sensors/radar/HaloB/change_state /$(arg robotNamespace)/sensors/radar/HaloB/change_state 1 0"/>


</launch>
