<launch>

   <node pkg="rosbag" type="record" name="rosbag_record_cbw" 
         args ="record --split --size=1024 --lz4 -o /home/field/project11/logs/temps/cbw /ben/control_by_web_status" />
   <node pkg="rosbag" type="record" name="rosbag_record_diag"  
         args ="record --split --size=1024 --lz4 -o /home/field/project11/logs/temps/diag /diagnostics" />

</launch>
