<launch>
  <arg name="namespace" default="ben"/>
  <arg name="duration" default="15m"/>
  <arg name="logDirectory"/>

  <node pkg="topic_tools" type="throttle" name="throttle_pano_1" args="messages /ben/sensors/cameras/pano_1/image_raw/compressed .2"/>
  <node pkg="topic_tools" type="throttle" name="throttle_pano_2" args="messages /ben/sensors/cameras/pano_2/image_raw/compressed .2"/>
  <node pkg="topic_tools" type="throttle" name="throttle_pano_3" args="messages /ben/sensors/cameras/pano_3/image_raw/compressed .2"/>
  <node pkg="topic_tools" type="throttle" name="throttle_pano_4" args="messages /ben/sensors/cameras/pano_4/image_raw/compressed .2"/>
  <node pkg="topic_tools" type="throttle" name="throttle_pano_5" args="messages /ben/sensors/cameras/pano_5/image_raw/compressed .2"/>
  <node pkg="topic_tools" type="throttle" name="throttle_pano_6" args="messages /ben/sensors/cameras/pano_6/image_raw/compressed .2"/>

  <node pkg="rosbag" type="record" name="pano_logger_throttled"  ns="$(arg namespace)" args="-o $(arg logDirectory)/cameras_throttled --lz4 --split --duration=$(arg duration) --repeat-latched
        /tf
        /tf_static
        /$(arg namespace)/nav/active_sensor
        /$(arg namespace)/sensors/cameras/pano_1/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_1/camera_info
        /$(arg namespace)/sensors/cameras/pano_2/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_2/camera_info
        /$(arg namespace)/sensors/cameras/pano_3/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_3/camera_info
        /$(arg namespace)/sensors/cameras/pano_4/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_4/camera_info
        /$(arg namespace)/sensors/cameras/pano_5/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_5/camera_info
        /$(arg namespace)/sensors/cameras/pano_6/image_raw/compressed_throttle
        /$(arg namespace)/sensors/cameras/pano_6/camera_info
        " />

</launch>
