<launch>
  <arg name="namespace" default="remote"/>
  <arg name="operatorNamespace" default="operator"/>
  <arg name="remoteHost" default="salmonz"/>
  <arg name="remotePort" default="4201"/>
  <arg name="robotNamespace" default="ben"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>
  <arg name="enableJoystick" default="false"/>

  <include file="$(find ben_description)/launch/load.launch">
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg robotNamespace)"/>

  <include file="$(find project11)/launch/remote_operator.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="operatorNamespace" value="$(arg operatorNamespace)"/>
    <arg name="remoteHost" value="$(arg remoteHost)"/>
    <arg name="remotePort" value="$(arg remotePort)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
    <arg name="enableJoystick" value="$(arg enableJoystick)"/>
  </include>

</launch>
