<launch>
  <arg name="robotNamespace" default="ben"/>
  <arg name="bagFile"/>
  <arg name="delay" default="15"/>  <!-- allow time to load rviz -->
  <arg name="rvizConfig" default="$(find ben_project11)/config/ben.rviz"/>
  <arg name="startTime" default="0"/>

  <param name="/use_sim_time" type="bool" value="true"/>

  <include file="$(find ben_description)/launch/load.launch">
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg robotNamespace)">
    <remap from="/tf" to="/tf_dummy"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizConfig)"/>

  <include file="$(find ben_project11)/launch/operator_ui.launch">
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <rosparam command="load" file="$(find ben_project11)/config/ben_operator.yaml" ns="$(arg robotNamespace)"/>

  <!-- <node name="filter" pkg="pointcloud2_spherical_filter" type="pointcloud2_spherical_filter_node" ns="$(arg robotNamespace)/sensors/lidar">
    <rosparam param="excludes">[{min: 0.0, max: 1.0}, {min: 34.0, max: 40.5}]</rosparam>
    <remap from="input" to="velodyne_points"/>
    <remap from="output" to="velodyne_points_filtered"/>
  </node> -->

  <!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" ns="$(arg robotNamespace)/sensors/lidar">
    <remap from="cloud_in" to="velodyne_points_filtered"/>
    <param name="resolution" value="0.5"/>
    <param name="frame_id" value="$(arg robotNamespace)/map"/>
  </node> -->

  <!-- <rosparam file="$(find ben_project11)/config/costmap.yaml" command="load" ns="$(arg robotNamespace)/costmap/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap" ns="$(arg robotNamespace)" /> -->

  <node pkg="rosbag" type="play" name="bagplay" args="--clock --delay=$(arg delay) --start=$(arg startTime) --loop $(arg bagFile)" ns="$(arg robotNamespace)">
    <remap from="clock" to="/clock"/>
  </node>

</launch>
