<launch>
  <arg name="namespace" default="ben"/>

  <group ns="$(arg namespace)/sensors/radar/HaloA">
    <node pkg="marine_radar_tracker" type="marine_radar_tracker" name="marine_radar_tracker">
      <param name="map_frame" value="$(arg namespace)/map"/>
      <remap from="radar_data" to="data"/>
      <param name="minimum_range" value="10.0"/>
    </node>

    <node pkg="marine_radar_tracker" type="marine_radar_to_pointcloud" name="marine_radar_to_pointcloud">
      <remap from="radar_data" to="data"/>
    </node>
  </group>
</launch>
